<%- include('partials/header', { pageTitle: 'Server Error', menuItems: [] }) %>
<div class="container" style="text-align: center; padding: 50px 0;">
    <h1>500 - Server Error</h1>
    <p>Something went wrong on our end. We are looking into it.</p>
    <a href="/" class="read-more">Go to Homepage</a>
</div>
<%- include('partials/footer') %>
