<%- include('partials/header', { pageTitle: currentCategory, menuItems: menuItems, currentCategory: currentCategory }) %>

<div class="container">
    <section class="category-page">
        <h1><%= currentCategory %></h1>

        <% if (articlesInCategory && articlesInCategory.length > 0) { %>
            <div class="news-grid">
                <% articlesInCategory.forEach(article => { %>
                    <%- include('partials/article_card', { article: article }) %>
                <% }); %>
            </div>
        <% } else { %>
            <p>No articles found in this category yet.</p>
        <% } %>
    </section>
</div>

<%- include('partials/footer') %>